*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px; /* rem의 기준값 */
}

body {
  min-width: 1060px;
  font-size: 1.8rem;
  line-height: 1.6;
  font-family: Roboto, Avenir, sans-serif;
}

a {
  text-decoration: None;
}

/* CTA */
.cta {
  color: white;
  width: 300px;
  font-weight: 400;
  margin: 0 auto 60px;
  display: block;
  padding: 20px 50px;
  border-radius: 8px;
  background: #44b78b;
}

.cta:hover {
  background: #51be95;
}

/* HEADER */
.header {
  background: #0c4b33;
  height: 72px;
  padding: 15px 0 4px;
}

.container,
.container-float {
  max-width: 1400px;

  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

.container-float::after {
  display: block;
  content: "";
  clear: both;
}

.logo {
  padding-left: inherit;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

.nav {
  text-align: right;
}

.list {
  margin: 0;
  font-size: 0;
}

.list-item {
  display: inline-block;
  font-weight: 700;
  font-size: 1.3rem;
}

.list-item > a {
  color: white;
  display: block;
  padding: 10px;
  text-transform: uppercase;
}

.list-item > a:hover {
  color: #c9f0dd;
}

/* MAIN */
.main-title {
  font-weight: 400;
  margin: 40px 0 20px 0;
  font-size: 3.2rem;
  letter-spacing: -1px;
}

.hero-section {
  text-align: center;
  padding: 50px 0;
  border-bottom: 1px solid #cfe3dc;
}

.intro-desc {
  width: 700px;
  margin: 40px auto 50px;
  font-weight: 300;
  font-size: 3.6rem;
  line-height: 1.3;
}

.hero-cta {
  width: 300px;
  margin: 0 auto;
}

.main-content {
  float: left;
  width: 70%;
}
.side-content {
  float: right;
  width: 30%;
}

.side-content a:hover {
  color: #25c488;
}

.cta.side-cta:hover {
  color: white;
}

.side-cta {
  width: 330px;
  padding: 16px 24px;
  margin: 40px auto 0;
}

.more::after {
  content: " >";
}

.list-communities {
  padding: 20px 0;
  margin: 0;
}

.community-title {
  font-size: 1.4rem;
}

.community-title:nth-child(n + 2) {
  margin-top: 14px;
}

.community-desc {
  font-size: 1.4rem;
  color: #859d94;
  margin: 10px 0 0 0;
}

.mailing {
  float: left;
  width: 48%;
}

.mailing:first-child {
  margin-right: 4%;
}

.mailing-form {
  margin: 10px 0 30px;
  position: relative; /* <- btn의 기준이 됨 */
}

.mailing-form > label {
  /* display: none; */
  /* 스크린리더를 위한 css */
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  background: grey;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

input[type="email"] {
  width: 100%;
  border: 1px solid #cfe3dc;
  border-radius: 4px;
  height: 5rem;
  padding: 6px 80px 8px 10px;
}

.mailing-desc > a,
.mailing-title > a {
  color: #20aa76;
}

.mailing-desc > a:hover,
.mailing-title > a:hover {
  color: #25c488;
}

.mailing-form-btn {
  position: absolute; /* <- mailing-form을 기준으로 삼음 */
  top: 30%;
  right: 10px;
  border: 0;
  background: transparent;
  color: #44bf78;
  cursor: pointer;
}

/* CONTENT-INFO */
.content-info {
  background: green;
  clear: both;
}

.links {
  background: lightgreen;
}

.footer {
  background: purple;
}
