
.link-logo {
    /* width: 32px; */
    height: 50px;
    opacity: 0.6;
    margin-left: 15px;
}
.link-logo:hover {
    opacity: 1;
}
.skill-set {
    width: 100%;
    text-align: left;
}
.skill-bar {
    text-align: right;
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}
.django {width:69%; background-color: #4CAF50; display: inline-block;}
.html {width:10%; background-color: #2196F3; display: inline-block;}
.javascript {width:14%; background-color: #f44336; display: inline-block;}
.etc {width:5%; background-color: #808080; display: inline-block;}
.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
#baseball-column:hover {
    background-color: #1abc9c;
}
@keyframes slide {
0% {
    opacity: 0;
    transform: translateY(70%);
} 
100% {
    opacity: 1;
    transform: translateY(0%);
}
}
@-webkit-keyframes slide {
0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
} 
100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
}
}