*,
*::before,
*::after {
  box-sizing: border-box;
}
/* HEADER */
.header {
  background: yellow;
}

/* MAIN */
.main {
  background: lime;
}

.hero-section {
  background: aqua;
}

.main-content {
  background: blue;
  float: left;
  width: 70%;
}
.side-content {
  background: pink;
  float: right;
  width: 30%;
}

/* CONTENT-INFO */
.content-info {
  background: green;
}

.links {
  background: lightgreen;
}

.footer {
  background: purple;
}
